version: "3.8"

services:
  backend:
    build: .
    container_name: backend-app
    ports:
      - "5000:5000"
    depends_on:
      - mongo
    environment:
      - MONGO_URI=mongodb://mongo:27017/mern-db
      - PORT=5000
    restart: always

  mongo:
    image: mongo:7
    container_name: mongo-db
    volumes:
      - mongo-data:/data/db
    restart: always

volumes:
  mongo-data:
