name: MERN CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Dependencies
        run: npm install

      - name: Run Lint (optional)
        run: echo "No lint configured"

      - name: Build Docker Image
        run: docker build -t mern-backend .

      - name: Run Container
        run: |
          docker run -d -p 5000:5000 --name test-app mern-backend
          sleep 10

      - name: Health Check
        run: curl --fail http://localhost:5000/health

      - name: Stop Container
        run: docker stop test-app
